Thumbs.db
/SW/gearbox_engine/dist/
/SW/gearbox_engine/build/
/SW/gearbox_engine/nbproject/private/
/SW/gearbox_engine/src/ultrasonicsensor/nbproject/private/
/SW/gearbox_engine/src/ultrasonicsensor/build/
/SW/acc/src/ACC/nbproject/private/
/SW/acc/src/ACC/build/